<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Player App</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to player App</h1>
        <button id="next-button"><a href="/players">Go to players</a></button>
        
    </div>
</body>

</html>